@{
    ViewBag.Title = "Dependency Injection In Action";
}


<div class="container">
    <h2 class="fw-bold text-success text-center">Dependency Injection In Action</h2>
    <h3 class="text-primary fw-bold mb-4">List of cities</h3>
    <ul class="list-group list-group-flush">
        @foreach (var city in Model)
        {
            <li class="list-group-item p-sm-3">@city</li>
        }

    </ul>
</div>